.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;
}

@media screen and (max-width: 568px) {
  .place__website {
    box-sizing: border-box;
    padding: 0 16px;
  }
}